* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: var(--fonte-primaria);
}

body {
    background-image: url(../img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.fonte-1, .fonte1 {
    font-family: var(--fonte-primaria);
}

.fonte-2, .fonte2 {
    font-family: var(--fonte-secundaria);
}

.fonte-3, .fonte3 {
    font-family: var(--fonte-terciaria);
}